body {
	background: url(../images/mainPage.jpeg) center no-repeat;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	text-align: center;
	font-family: Helvetica, serif;
	list-style: none;
	font-family: 'Raleway', sans-serif;
	color: white;
}
a {
    text-decoration: none;
    color: white;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}

form {
	margin: auto;
  	width: 50%;
	background-color: rgba(0,0,0, 0.5);
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	font-size: 20px;
	margin-bottom: 75px;
}

.artpiece{
	margin: auto;
	width: 50%;
	background-color: rgba(0,0,0, 0.5);
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	font-size: 20px;
	margin-bottom: 75px;
}

button{
	background-color:#44c767;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:8px 43px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
	margin-top: 10px;
}
button:hover {
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}

.landing {
    margin-top: 100px;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
	list-style: none;
}
.login {
	position: fixed;
	float:left;
	top:0;
    background-color: black;
    text-align: left;
	font-size: 20px;
	border: 1px solid white;
	padding-right: 30px;
}
.login a:hover{
	color:red;

}
.tag{
	text-align: left;
	padding-left: 30px;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
  text-align: center;
  font-family: Helvetica, serif;
  color:black;
  border: 1px solid black;
}
